<div class="flex flex-row justify-center gap-4 m-4">
    <div class="text-lg font-semibold">
        <a routerLink="">Home</a>
    </div>
    <div class="text-lg font-semibold">
        <a routerLink="projects">Projects</a>
    </div>
    <div class="text-lg font-semibold">
        <a routerLink="blogs">Blogs</a>
    </div>
    <div class="text-lg font-semibold">
        <a routerLink="uses">Uses</a>
    </div>
    <div class="text-lg font-semibold">
        <a routerLink="about">About</a>
    </div>
</div>