rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read metadata and projects
    match /metadata/{document=**} {
      allow read: if true;
      allow write: if false; // Only via Firebase Console or Admin
    }
    match /projects/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    match /project_categories/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    
    // Allow anyone to submit a contact message, but not read them (unless authenticated)
    match /contacts/{document=**} {
      allow create: if true;
      allow read: if false; 
    }
  }
}
