<nav class="text-black bg-white shadow-lg">
    <!-- Desktop Navigation -->
    <div id="desktop-nav" class="hidden md:flex justify-between items-center py-4 px-8">
        <div class="logo text-2xl font-bold">
            <a routerLink="/" class="hover:text-gray-700">&lt;Manthan Ank /&gt;</a>
        </div>
        <ul class="nav-links flex space-x-8">
            <li><a routerLink="about"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">About</a>
            </li>
            <li><a routerLink="experience"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">Experience</a>
            </li>
            <li><a routerLink="projects"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">Projects</a>
            </li>
            <li><a routerLink="uses"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">Uses</a>
            </li>
            <li><a routerLink="contact"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">Contact</a>
            </li>
        </ul>
    </div>

    <!-- Mobile Navigation -->
    <div id="hamburger-nav" class="md:hidden flex justify-between items-center py-4 px-8">
        <div class="logo text-2xl font-bold">
            <a routerLink="/" class="hover:text-gray-700">&lt;Manthan Ank /&gt;</a>
        </div>
        <div class="hamburger-menu relative">
            <div class="hamburger-icon cursor-pointer flex flex-col space-y-1" (click)="toggleMenu()">
                <i class="fas fa-bars fa-2x"></i>
            </div>
        </div>
    </div>

    <!-- Slide-in Menu -->
    <div id="mobile-menu" class="fixed inset-0 bg-white z-50 transform -translate-x-full transition-transform duration-300 ease-in-out">
        <div class="flex justify-end p-4">
            <button class="text-black" (click)="toggleMenu()">
                <i class="fas fa-times fa-2x"></i>
            </button>
        </div>
        <ul class="flex flex-col items-center space-y-4 mt-8">
            <li><a routerLink="about" (click)="toggleMenu()"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">About</a>
            </li>
            <li><a routerLink="experience" (click)="toggleMenu()"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">Experience</a>
            </li>
            <li><a routerLink="projects" (click)="toggleMenu()"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">Projects</a>
            </li>
            <li><a routerLink="uses" (click)="toggleMenu()"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">Uses</a>
            </li>
            <li><a routerLink="contact" (click)="toggleMenu()"
                    class="hover:underline text-lg py-2 px-4 rounded-md transition duration-300 ease-in-out hover:bg-gray-200 hover:text-gray-700">Contact</a>
            </li>
        </ul>
    </div>
</nav>