<section id="timeline" class="py-2 mb-10">
    <h1 class="text-4xl font-bold text-center mb-8">Experience</h1>
    <p class="text-gray-600 text-center mb-8">Here is a timeline of my work experience.</p>
    <div class="container mx-auto p-2">
        <div class="relative">
            <div class="border-r-2 border-gray-300 absolute h-full top-0 left-1/2 transform -translate-x-1/2"></div>
            <div class="mb-8 flex justify-between items-center w-full left-timeline">
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Software Engineer</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">
                        <span class="font-bold text-blue-600">Blackcoffer</span> -
                        <span class="italic text-gray-600">Feb 2023 - Present</span>
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100 mt-2">Working as Software
                        Engineer currently. Working in both Front End as well as Backend Projects. Works mostly in
                        dashboard type projects using MEAN Stack. And also manage the projects & deploy it. Angular
                        Framework in Front End & In backend Nodejs. With MongoDB, MySQL, Firebase as Databse.</p>
                </div>
                <div class="order-1 w-5/12"></div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Full Stack Developer Intern</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">AppiVa Software Pvt Ltd
                        - Jul 2022 - Dec 2022
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Worked for 6 months as
                        Full Stack Intern. Worked in both Front End as well as Backend Projects. Work is to design and
                        develop in projects. And also manage the projects & deploy it. Angular Framework in Front End &
                        In backend Nodejs + Python. With Frebase as Databse.</p>
                </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full left-timeline">
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Angular Developer Intern</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Faclon Labs Pvt Ltd -
                        Nov 2021 - May 2022
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Worked for 3 months as
                        Intern And 3 months as Full Time Front End Angular Developer. Work was to design and develop in
                        projects like Admin Panel, IOSense(Main Project), Report UI.</p>
                </div>
                <div class="order-1 w-5/12"></div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Trainee</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">SounderGrad Training
                        Programmee - May 2021 - Aug 2021
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Completed two months
                        training in front-end development using HTML5, CSS, JavaScript, JSON, RestAPI, Angular. And
                        completed one project in angular ie, Covid-19 Tracker Web Page using API.</p>
                </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full left-timeline">
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Student Intern</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Karanji InfoTech
                        Pvt.Ltd - May 2019 - June 2019</p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Completed one month
                        internship and project on machine learning using python “Conversion Text to Speech Construction
                        Using Multiple Data (CSV file)”.</p>
                </div>
                <div class="order-1 w-5/12"></div>
            </div>
        </div>
    </div>
</section>

<section id="experience" class="py-8">
    <h1 class="text-4xl font-bold text-center mb-8">Skills</h1>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-2">
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Frontend</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-html5 fa-3x text-orange-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">HTML</h3>
                            <p class="text-gray-600">Experienced</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-css3-alt fa-3x text-blue-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">CSS</h3>
                            <p class="text-gray-600">Experienced</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-js fa-3x text-yellow-500"></i>
                        <div>
                            <h3 class="text-xl font-medium">JavaScript</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-angular fa-3x text-red-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Angular</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Backend & Database</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-node-js fa-3x text-green-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Node JS</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">MongoDB</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Firebase</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">MySQL</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Other Tools</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-git fa-3x text-red-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Git</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-github fa-3x text-black"></i>
                        <div>
                            <h3 class="text-xl font-medium">GitHub</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-code fa-3x text-blue-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">VS Code</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>