<section id="timeline" class="py-2 mb-10">
    <h1 class="text-4xl font-bold text-center mb-8 text-gray-800">Experience</h1>
    <p class="text-gray-600 text-center mb-8">Here is a timeline of my work experience.</p>
    <div class="container mx-auto p-2">
        <div class="relative">
            <div
                class="hidden md:block border-r-4 border-gray-300 absolute h-full top-0 left-1/2 transform -translate-x-1/2">
            </div>
            <div class="mb-8 flex flex-col md:flex-row justify-between items-center w-full left-timeline">
                <div
                    class="order-1 w-full md:w-5/12 px-6 py-4 bg-white rounded-lg shadow-lg transition transform hover:scale-105 hover:shadow-xl">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Software Engineer</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">
                        <span class="font-bold text-blue-600">Blackcoffer</span> -
                        <span class="italic text-gray-600">Feb 2023 - Present</span>
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100 mt-2">Working as
                        Software Engineer. Experienced in MEAN Stack development, managing projects, and deploying them.
                        Skilled in Angular, Node.js, MongoDB, MySQL, and Firebase.</p>
                </div>
                <div class="order-1 w-full md:w-5/12"></div>
            </div>
            <div class="mb-8 flex flex-col md:flex-row justify-between items-center w-full right-timeline">
                <div class="order-1 w-full md:w-5/12"></div>
                <div
                    class="order-1 w-full md:w-5/12 px-6 py-4 bg-white rounded-lg shadow-lg transition transform hover:scale-105 hover:shadow-xl">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Full Stack Developer Intern</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">
                        <span class="font-bold text-blue-600">AppiVa Software Pvt Ltd</span> -
                        <span class="italic text-gray-600">Jul 2022 - Dec 2022</span>
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Worked as Full Stack
                        Intern. Developed projects using Angular and Node.js with Firebase as the database.</p>
                </div>
            </div>
            <div class="mb-8 flex flex-col md:flex-row justify-between items-center w-full left-timeline">
                <div
                    class="order-1 w-full md:w-5/12 px-6 py-4 bg-white rounded-lg shadow-lg transition transform hover:scale-105 hover:shadow-xl">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Angular Developer Intern</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">
                        <span class="font-bold text-blue-600">Faclon Labs Pvt Ltd</span> -
                        <span class="italic text-gray-600">Nov 2021 - May 2022</span>
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Worked as Intern and
                        Full Time Front End Angular Developer. Developed projects like Admin Panel, IOSense, and Report
                        UI.</p>
                </div>
                <div class="order-1 w-full md:w-5/12"></div>
            </div>
            <div class="mb-8 flex flex-col md:flex-row justify-between items-center w-full right-timeline">
                <div class="order-1 w-full md:w-5/12"></div>
                <div
                    class="order-1 w-full md:w-5/12 px-6 py-4 bg-white rounded-lg shadow-lg transition transform hover:scale-105 hover:shadow-xl">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Trainee</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">
                        <span class="font-bold text-blue-600">SounderGrad Training Programmee</span> -
                        <span class="italic text-gray-600">May 2021 - Aug 2021</span>
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100"> Completed two months
                        of front-end development training (HTML5, CSS, JavaScript, JSON, RestAPI, Angular) and built a
                        Covid-19 Tracker Web Page using Angular and API.</p>
                </div>
            </div>
            <div class="mb-8 flex flex-col md:flex-row justify-between items-center w-full left-timeline">
                <div
                    class="order-1 w-full md:w-5/12 px-6 py-4 bg-white rounded-lg shadow-lg transition transform hover:scale-105 hover:shadow-xl">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Student Intern</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">
                        <span class="font-bold text-blue-600">Karanji InfoTech Pvt.Ltd</span> -
                        <span class="italic text-gray-600">May 2019 - June 2019</span>
                    </p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Completed ML internship and project on "Conversion Text to Speech Construction Using Multiple Data (CSV file)".</p>
                </div>
                <div class="order-1 w-full md:w-5/12"></div>
            </div>
        </div>
    </div>
</section>

<section id="skills" class="py-8">
    <h1 class="text-4xl font-bold text-center mb-8">Skills</h1>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-2">
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Frontend</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-html5 fa-3x text-orange-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">HTML</h3>
                            <p class="text-gray-600">Experienced</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-css3-alt fa-3x text-blue-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">CSS</h3>
                            <p class="text-gray-600">Experienced</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-js fa-3x text-yellow-500"></i>
                        <div>
                            <h3 class="text-xl font-medium">JavaScript</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-angular fa-3x text-red-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Angular</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Backend & Database</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-node-js fa-3x text-green-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Node JS</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">MongoDB</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Firebase</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">MySQL</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Other Tools</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-git fa-3x text-red-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Git</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-github fa-3x text-black"></i>
                        <div>
                            <h3 class="text-xl font-medium">GitHub</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-code fa-3x text-blue-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">VS Code</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>