<section id="timeline" class="py-2 mb-10">
    <h1 class="text-4xl font-bold text-center mb-8">Experience</h1>
    <p class="text-gray-600 text-center mb-8">Here is a timeline of my work experience.</p>
    <div class="container mx-auto">
        <div class="relative">
            <div class="border-r-2 border-gray-300 absolute h-full top-0 left-1/2 transform -translate-x-1/2"></div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Job Title 1</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Company Name - Duration</p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Description of the job and responsibilities.</p>
                </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full left-timeline">
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Job Title 2</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Company Name - Duration</p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Description of the job and responsibilities.</p>
                </div>
                <div class="order-1 w-5/12"></div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Job Title 3</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Company Name - Duration</p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Description of the job and responsibilities.</p>
                </div>
            </div>
            <div class="mb-8 flex justify-between items-center w-full left-timeline">
                <div class="order-1 w-5/12 px-1 py-4 bg-white rounded-lg shadow-md">
                    <h3 class="mb-3 font-bold text-gray-800 text-xl">Job Title 4</h3>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Company Name - Duration</p>
                    <p class="text-sm leading-snug tracking-wide text-gray-900 text-opacity-100">Description of the job and responsibilities.</p>
                </div>
                <div class="order-1 w-5/12"></div>
            </div>
        </div>
    </div>
</section>

<section id="experience" class="py-8">
    <h1 class="text-4xl font-bold text-center mb-8">Skills</h1>
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Frontend</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-html5 fa-3x text-orange-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">HTML</h3>
                            <p class="text-gray-600">Experienced</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-css3-alt fa-3x text-blue-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">CSS</h3>
                            <p class="text-gray-600">Experienced</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-js fa-3x text-yellow-500"></i>
                        <div>
                            <h3 class="text-xl font-medium">JavaScript</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-angular fa-3x text-red-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Angular</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Backend & Database</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-node-js fa-3x text-green-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Node JS</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">MongoDB</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Firebase</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-database fa-3x text-gray-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">MySQL</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="bg-white shadow-md rounded-lg p-6">
                <h2 class="text-2xl font-semibold mb-4">Other Tools</h2>
                <div class="space-y-4">
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-git fa-3x text-red-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">Git</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-brands fa-github fa-3x text-black"></i>
                        <div>
                            <h3 class="text-xl font-medium">GitHub</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                    <article class="flex items-center space-x-4">
                        <i class="fa-solid fa-code fa-3x text-blue-600"></i>
                        <div>
                            <h3 class="text-xl font-medium">VS Code</h3>
                            <p class="text-gray-600">Intermediate</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>