<section id="about" class="py-2 px-16">
    <h1 class="text-4xl font-bold text-center mb-4">About Me</h1>
    <p class="text-gray-600 text-center mb-4">Get to know me</p>
    <div class="flex flex-col md:flex-row items-center md:items-start md:space-x-8">
        <div class="flex-shrink-0 mb-8 md:mb-0">
            <img src="picture.webp" alt="Profile picture" class="w-48 h-48 rounded-full mx-auto md:mx-0" />
        </div>
        <div class="flex-1">
             <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-8">
                <div class="flex flex-col items-center md:items-start text-center md:text-left p-4 bg-white shadow-lg rounded-lg">
                    <i class="fa-solid fa-briefcase fa-2x text-blue-500 mb-4"></i>
                    <h3 class="text-2xl font-semibold mb-2">Experience</h3>
                    <p class="text-gray-600">2+ years <br />Full Stack Developer</p>
                </div>
                <div class="flex flex-col items-center md:items-start text-center md:text-left p-4 bg-white shadow-lg rounded-lg">
                    <i class="fa-solid fa-user-graduate fa-2x text-green-500 mb-4"></i>
                    <h3 class="text-2xl font-semibold mb-2">Education</h3>
                    <p class="text-gray-600">Bachelor of Engineering <br />Computer Science</p>
                </div>
            </div>
            <div class="text-gray-700 leading-relaxed">
                <p>
                    Hi there! I am Manthan! You might also know me as manthanank. I've been coding for over 2 years now. I
                    am a Software Engineer based in Karnataka, India. I have a Bachelor's degree in Computer Science
                    from Sahyadri College of Engineering & Management. I have experience in Front End Development, Back
                    End Development, and Full Stack Development. I have worked on various projects using Angular,
                    Node.js, and MongoDB. I am passionate about coding and always eager to learn new technologies. I am
                    currently working as a Software Engineer at Blackcoffer.
                </p>
            </div>
        </div>
    </div>
</section>