<!-- <app-wip></app-wip> -->
<div class="container sm:w-1/2 w-10/12 mx-auto">
    <p class="text-center font-extrabold text-3xl">Things I Uses Daily⚙️!</p>
    <!-- <img src="" alt=""> -->
    <p class="font-bold text-3xl pt-4">
        Hardwares
    </p>
    <div class="pt-4">
        <ul class="list-disc">
            <li class="text-lg">
                <span class="font-bold">Laptop</span> : Hp 15s
            </li>
            <li class="text-lg">
                <span class="font-bold">Keyboard</span> : Dell Wireless
            </li>
            <li class="text-lg">
                <span class="font-bold">Mouse</span> : Dell Wireless
            </li>
            <li class="text-lg">
                <span class="font-bold">HeadPhones</span> : Boat Rockerz 400
            </li>
        </ul>
    </div>
    <p class="font-bold text-3xl pt-4">
        Softwares
    </p>
    <div class="pt-4">
        <ul class="list-disc">
            <li class="text-lg">
                <span class="font-bold">Code Editor</span> : VS Code
            </li>
        </ul>
        <ul class="list-disc">
            <li class="text-lg">
                <span class="font-bold">Note Taking</span> : Notion
            </li>
        </ul>
        <ul class="list-disc">
            <li class="text-lg">
                <span class="font-bold">Graphic design</span> : Figma
            </li>
        </ul>
        <ul class="list-disc">
            <li class="text-lg">
                <span class="font-bold">Hosting</span> : Vercel, Netlify, Render, Cyclic.
            </li>
        </ul>
        <ul class="list-disc">
            <li class="text-lg">
                <span class="font-bold">Music</span> : Spotify, YouTube Music.
            </li>
        </ul>
    </div>
</div>