<section id="profile" class="flex flex-col items-center justify-center lg:mt-24 md:mt-16 p-6 rounded-lg">
    <div class="flex flex-col items-center lg:flex-row md:flex-row lg:justify-between md:justify-between lg:w-full md:w-full lg:max-w-4xl md:max-w-3xl">
        <div class="mb-8 lg:mb-0 md:mb-4 flex-1 flex justify-center lg:justify-start md:justify-center">
            <img src="picture.webp" alt="Manthan Ankolekar profile picture"
                class="w-48 h-48 lg:w-64 lg:h-64 md:w-56 md:h-56 rounded-full border-4 border-gray-300 shadow-lg transition-transform transform hover:scale-105" />
        </div>
        <div class="text-center lg:text-left md:text-center max-w-md flex-1">
            <p class="text-lg text-gray-700 mb-2 text-center lg:text-left md:text-center">Hello, I'm</p>
            <h1 class="text-4xl font-bold text-gray-900 mb-4">Manthan Ankolekar</h1>
            <p class="text-xl text-gray-600 mb-6 text-center lg:text-left md:text-center">Frontend Developer</p>
            <div class="mb-6 text-center lg:text-left md:text-center">
                <button
                    class="bg-gradient-to-r from-blue-500 to-blue-700 text-white px-6 py-3 rounded-full shadow-lg hover:from-blue-600 hover:to-blue-800 transition-colors">
                    View CV
                </button>
            </div>
            <div class="flex justify-center lg:justify-start md:justify-center space-x-6">
                <a href="#" class="text-gray-700 hover:text-gray-900 transition-colors">
                    <i class="fa-brands fa-github fa-2x"></i>
                </a>
                <a href="#" class="text-gray-700 hover:text-gray-900 transition-colors">
                    <i class="fa-brands fa-x-twitter fa-2x"></i>
                </a>
                <a href="#" class="text-gray-700 hover:text-gray-900 transition-colors">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</section>