<!-- <app-wip></app-wip> -->
<div class="container sm:w-1/2 w-10/12 mx-auto">
    <p class="text-center font-extrabold text-3xl">Projects I have done⚒️!</p>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="pt-4" *ngIf="!isLoading">
        <ul class="list-disc" *ngFor="let item of projects">
            <li class="text-lg">
                {{item.name}} <p><a [routerLink]="['/projects', item.id]" (click)="showDetails(item)">View Details</a></p>
            </li>
        </ul>
    </div>
</div>