<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="" (click)="onToggleClose()">
        <span>Home</span>
    </a>
    <a mat-list-item routerLink="projects" (click)="onToggleClose()">
        <span>Projects</span>
    </a>
    <a mat-list-item routerLink="blogs" (click)="onToggleClose()">
        <span>Blogs</span>
    </a>
    <a mat-list-item routerLink="education" (click)="onToggleClose()">
        <span>Education</span>
    </a>
    <a mat-list-item routerLink="experience" (click)="onToggleClose()">
        <span>Experience</span>
    </a>
    <a mat-list-item routerLink="uses" (click)="onToggleClose()">
        <span>Uses</span>
    </a>
    <a mat-list-item routerLink="contact" (click)="onToggleClose()">
        <span>Contact</span>
    </a>
    <a mat-list-item routerLink="about" (click)="onToggleClose()">
        <span>About</span>
    </a>
</mat-nav-list>